



<div class="container" style="text-align: center;  color: #888;">
    <h1 class="text-danger">You do not have access to this resource.</h1>


</div>


<div class="d-flex align-items-center justify-content-center">
    <a class="btn btn-primary" href="/">Go Home</a>
</div>